<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body style="background-color: #460C68;">
    <main class="flex flex-col items-center h-full text-white">
        <div class="my-14 md:my-20">
            <p class="text-4xl">Purchase History</p>
        </div>

        <p class="text-2xl flex justify-start md:w-3/5 md:flex-none md:ml-5 md:mb-3">Order #</p>
        <div class="w-4/5 md:w-3/5 h-auto py-5 md:py-10 px-5 md:px-10 text-2xl rounded-2xl bg-pink-500">
            <div class="flex justify-center md:justify-between gap-5 md:gap-3 flex-wrap md:flex-nowrap">
                <div>
                    <img class="rounded-full h-32 w-32 md:h-40 md:w-40" src="https://cdn.myanimelist.net/images/voiceactors/2/61788.jpg" alt="">
                </div>
                <div class="mx-10">
                    <p>Cake name</p>
                    <p>size</p>
                    <p>quantity</p>
                    <p>price</p>
                    
                    <p>date</p>
                    <p>total price</p>
                    <p>gcash</p>
                </div>
                <div class="flex flex-col justify-center items-center text-center w-full md:w-auto bg-green-500 md:bg-transparent relative top-0">
                    <p>Price</p>
                    <p>PHP 125</p>
                </div>
            </div>
        </div>
    </main>
    
</body>
</html>